:root {
    --main-color: #204b33;
    --secondary-color: #333333;
    --white-color: #ffffff;
    --shadow: 0 0 2rem rgba(0,0,0,0.5);
}

body {
    margin: 0;
    padding: 0;
}

.my-cluster-icon {
    background-color: #333333; /* Modifier la couleur pour HEX 333 */
    color: var(--white-color);
    border: none; /* Supprimer la bordure */
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-cluster-icon div {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
}

.custom-tooltip {
    background: radial-gradient(circle at top left, #204B33 0%, #12291C 60%); /* Modifier le gradient radial */
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    padding: 0.5rem 1rem; /* Ajouter un padding de 1rem sur les côtés et de 0,5rem en haut et en bas */
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    border-radius: 5px; /* Ajouter un radius de 5px */
    border: none; /* Supprimer la bordure */
}

.custom-div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.5rem;
}

.logo {
    height: 1.5rem;
    margin-right: 1rem;
}

.poi-title {
    font-size: 2rem; /* Modifier la taille de la police à 2 rem */
    color: white;
    font-family: 'Times New Roman', serif; /* Modifier la police pour Times New Roman */
    font-weight: normal; /* Modifier le poids de la police pour qu'il soit normal */
    margin: 0;
    line-height: 1rem;
    padding-left: 0.4rem; /* Modifier le padding gauche à 0,4rem */
}

#poi-list {
    display: none; /* Supprimer la liste des POI */
}

#mapid {
    height: 100vh;
    width: 100vw;
}
